<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>REGISTER</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/images/icon.png">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <a href="#" class="header-logo"><img src="/images/topKecil.png"></a>
        </header>
        <div class="container">
            <div class="container-box">
                <h1 class="title">Register</h1>
                <% if (!successRegister) { %>
                    <div class="register-warning">
                        <p>Username has already taken</p>
                    </div>
                <% } %>
                <form action="/process_register" method="POST">
                    <input type="text" name="username" placeholder="Username" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <input type="submit" value="Login">
                </form>
                <a href="/login">Login</a>
            </div>
        </div>
    </body>
</html>